{% extends "base.html" %}
{% load i18n %}

{% block page_title %} {{ block.super }} - Sign In{% endblock %}

{% block content %}
    <div>
        <h1>{% trans 'Sign In' %}</h1>
    </div>
    <div title="{% trans 'Sign In' %}">
        <a href="{% url socialauth_begin 'google-oauth2' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}">
            <img alt="{% trans "Google" %}" title="{% trans "Google" %}" src="{{ STATIC_URL }}socialprofile/img/google-icon.png" />
        </a>
        <a href="{% url socialauth_begin 'twitter' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}">
            <img alt="{% trans "Twitter" %}" title="{% trans "Twitter" %}" src="{{ STATIC_URL }}socialprofile/img/twitter-icon.png" />
        </a>
        <a href="{% url socialauth_begin 'facebook' %}{% if next_url and next_param %}?{{ next_param }}={{ next_url }}{% endif %}">
            <img alt="{% trans "Facebook" %}" title="{% trans "Facebook" %}" src="{{ STATIC_URL }}socialprofile/img/facebook-icon.png" />
        </a>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
