{% extends "base.html" %}
{% load i18n %}
{% load socialprofile_tags %}

{% block page_title %}{{ block.super }} - {% trans "Profile for " %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="profile-view span6 well">

        <div class="profile-header">
            <h2 class="sp-profile-name">{{ form.first_name.value|default:"&nbsp;" }} {{ form.last_name.value|default:"&nbsp;" }}</h2>
            <img src="{{ form.image_url.value|default:"http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm" }}" />

        </div>
        <dl class="dl-horizontal">
            <dt>{{ form.username.label_tag }}</dt>
            <dd>{{ form.username.value|default:"&nbsp;" }}</dd>

            <dt>{{ form.email.label_tag }}</dt>
            <dd>{{ form.email.value|default:"&nbsp;" }}</dd>

            <dt>{{ form.gender.label_tag }}</dt>
            <dd>{{ form.gender.value|title|default:"&nbsp;" }}</dd>

            <dt>{{ form.url.label_tag }}</dt>
            <dd>{{ form.url.value|urlize }}</dd>

            <dt>{{ form.description.label_tag }}</dt>
            <dd>{{ form.description.value|default:"&nbsp;" }}</dd>

            {% if request.user.username == form.username.value %}
                <dt><label>{% trans "Authentication" %}</label></dt>
                <dd>
                    {% for user_social_auth in user.social_auth.all %}
                        {{ user_social_auth.provider|social_provider_name }}{% if not forloop.last %},&nbsp;{% endif %}
                    {% empty %}
                        {% trans "No Social Authentications." %}
                    {% endfor %}
                </dd>
            {% endif %}
        </dl>

    </div>
{% endblock %}
